[Unit]
Description=Integrity Service

[Service]
WorkingDirectory=/home/misha/apps/Integrity/Server/dist/Server
ExecStart=/usr/bin/node /home/misha/apps/Integrity/Server/dist/Server/start.js
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Integrity-app
User=misha
Environment=NODE_ENV=production
Environment=PORT=9080

[Install]
WantedBy=multi-user.target