<nb-card>
  <nb-card-body>
    <dx-form [formData]="configurationVariable" colCount="1">

      <dxi-item dataField="title">
        <dxo-label text="Наименование"></dxo-label>
      </dxi-item>

      <dxi-item dataField="requestUrl">
        <dxo-label text="Запрос"></dxo-label>
      </dxi-item>

      <dxi-item dataField="requestBody" editorType="dxTextArea">
        <dxo-label text="Тело запроса"></dxo-label>
      </dxi-item>


    </dx-form>

  </nb-card-body>
  <nb-card-footer>
    <dx-button stylingMode="contained"
               type="success"
               text="Сохранить"
               (click)="save()">
    </dx-button>
  </nb-card-footer>
</nb-card>
