<dx-data-grid *ngIf="calls"
              id="gridContainer"
              [dataSource]="calls"
              [showBorders]="true"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              [allowColumnResizing]="true"
              [allowColumnReordering]="true">
  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-column-chooser
    [enabled]="true"
    mode="dragAndDrop"> <!-- or "select" -->
  </dxo-column-chooser>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[20, 30, 40]"
    [showInfo]="true">
  </dxo-pager>

  <dxi-column dataField="createdAt"></dxi-column>
  <dxi-column dataField="call_start"></dxi-column>
  <dxi-column dataField="call_answer"></dxi-column>
  <dxi-column dataField="call_end"></dxi-column>
  <dxi-column dataField="pbx_call_id" cellTemplate="pbxCallIdCellTemplate"></dxi-column>
  <dxi-column dataField="caller_id"></dxi-column>
  <dxi-column dataField="internal"></dxi-column>
  <dxi-column dataField="responsibles"></dxi-column>
  <dxi-column dataField="called_phone_number"></dxi-column>
  <dxi-column dataField="duration"></dxi-column>
  <dxi-column dataField="call_filename" cellTemplate="pbxCallFileNameCellTemplate"></dxi-column>

  <div *dxTemplate="let d of 'pbxCallIdCellTemplate'">
    <a [routerLink]="['/calls/' + d.data.pbx_call_id] + '/events'">
      {{ d.data.pbx_call_id }}
    </a>
  </div>

  <div *dxTemplate="let d of 'pbxCallFileNameCellTemplate'">
    <dx-button *ngIf="d.data.call_filename" icon="video" (click)="play(d.data)"></dx-button>
  </div>

  <div *dxTemplate="let data of 'detail'">
    <app-variables [call]="data.data">

    </app-variables>
  </div>

</dx-data-grid>
